*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url('./assets/2.2/App/resources/img/bg/4.jpg') center center / cover no-repeat;
  background-color: #383844;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito','Outfit','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.85);
  text-align: left;
  font-style: normal;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}
